.sec1 {
    background-color: #1F2937;
    padding-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.htitle{
    color: #f9f8f9;
    font-size: 24px;
    margin-right: auto;
    margin-left: 18%;
    font-weight: bold;
}

.link-list {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin-right: 18%;
}

.link-list li {
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.wrapperA {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    margin-left: 14%;
}


.h2title, .desc {
    color:#f9f8f9;
    margin-left: 10%;
}

.h2title {
    font-size: 48px;
    font-weight: bold;
}


.containerII {
    display: flex;
    margin-top: 48px;
}


.btn {
    background-color: #3882F6;
    border-color: #3882F6;
    color:#f9f8f9;
    height: 40px;
    width: 90px;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
}


.image1 {
    height: 200px;
    width: 400px;
    margin-left: 50px;
}

.h3title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 10px;
}

.containerIII {
    display: flex;
    justify-content: center;
}

.midimage {
    height: 120px;
    width: 120px;
    border: #3882F6 solid;
    border-radius: 20%;
    margin-right: 10px;
}

.desc2 {
    color:black;
    margin-right: 10px;
}

.containerIV {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sec3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.sig {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    text-align: end;
}

.sec4 {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 40px;
    color: white;
}

.lbtn {
    background-color: #3882F6;
    border-color: #f9f8f9;
    color:#f9f8f9;
    height: 30px;
    width: 80px;
    margin-left: 20%;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.lt {
    font-weight: bold;
    font-size: 20px;
}